* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Tahoma, "hiragino sans gb", Helvetica;
    color: #333;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ddd;

}

hr {
    /*为了兼容浏览器*/
    height: 1px;
    border-width: 0;
    color: #ccc;
    background-color: #ccc
}
span{
	font-size: 12px;
	color: #666;
}

#header {
    width: 100%;
    height: 140px;
}

#header_top {
    /*顶部黑色条*/
    width: 100%;
    height: 30px;
    color: #777;
    font-size: 15px;
    background-color: #000;
}

#header_top ul {
    float: right;
    margin-right: 50px;
}

#header_top li {
    float: left;
    line-height: 30px;
}

#header_top a:hover {
    color: #F9A13B;
}

#header_main {
    width: 1000px;
    /*为了居中定义了宽度，切换屏幕大小时，如果用像素的话，切换的图标不好调，会移位*/
    margin: 0 auto;
    position: relative;
    /*用于菜单的子菜单（list）的位置*/
}

#logo {
    height: 105px;
    float: left;
    /*脱离文档流*/
}

#logo~ul {
    /*选择前面有#logo的ul元素*/
    display: inline-block;
}

#logo~ul li {
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 3px;
    border-top: 6px solid #fff;
    margin: 0 5px;
    /*留白*/
    padding: 20px 20px 10px 20px;
}

#logo~ul li:hover {
    border-top: 6px solid #F9A13B;
}

.list li {
    float: left;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid #ccc;
    margin-top: 10px;
    padding: 0px 16px 5px 16px;
}

.list li:first-child {
    border-left: none;
}

#con {
    width: 1000px;
    height: 1590px;
    margin: 0 auto;
    margin-top: 20px;
}

#footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #ccc;
}

#imgplay {
    position: relative;
    float: left;
}

#prev,
#next {
    font-size: 30px;
    background-color: rgba(39, 39, 39, 0.5);
    color: #A6A1A1;
    padding: 10px;
    position: absolute;
}

#prev {
    top: 125px;
    left: 0px;
}

#next {
    top: 125px;
    left: 662px;
}

#prev:hover,
#next:hover {
    color: #eee;
    background-color: rgba(161, 161, 161, 0.7);
}

.range {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 5px;
    margin: 0 5px;
}

.range:hover {
    background-color: #eee;
}

.rangediv {
    position: absolute;
    top: 245px;
    left: 255px;
    vertical-align:
}
.leftbar{
	width: 260px;

	padding-left: 38px;float: right;
}
.leftbar h1 {
    font-size: 26px;
    color: #8B8B8B;
    font-family: "幼圆";
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3px;

}
.leftbar h3 {
      margin : 20px 0;
}
 
.leftbar button {
    border: 0;
    width: 133px;
    height: 45px;
    cursor: pointer;
    background-color: #F9A13B;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    font-size: 22px;
    margin: 20px 0 35px 62px;
}

.musiclist {
    width: 700px;
    height: 375px;
    padding-top: 20px;
}

.musiclist h2 {
    border-left: 5px solid #F9A13B;
    padding: 5px;
}

.musiclist a {
    color: #F9A13B;
    font-size: 14px;
}

.musiclist img {
    margin: 10px 10px 10px 0;
}

.musiclist span {
    display: inline-block;
    height: 50px;
    overflow: hidden;
    background-color: rgba(161, 161, 161, 0.5);
    z-index: 100;
    line-height: 25px;
    color: #eee;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.musiclist[name="music"] span {
    width: 150px;
    margin: 10px 10px 10px -160px;
}

.musiclist[name="mv"] span {
    width: 220px;
    margin: 10px 10px 10px -230px;
}
.musiclist p{
	 width: 300px;
	 display: inline-block;
  text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/	
    overflow: hidden;
color: #666;
line-height: 30px;
margin:10px;
padding-left: 10px;
}
.musiclist p a{
color: #F9A13B;
    font-weight: bolder;

}
.music{
	display: inline-block;
	width: 100px;
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/	
    overflow: hidden;
    font-size: 12px;
    line-height: 30px;
    color: #F9A13B;
    font-weight: bolder;
}
.music~span{
	display: inline-block;
	width: 70px;
	padding-left: 20px;
	font-size: 12px;

	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/	
    overflow: hidden;
}
.bang{
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.bang:hover{
	color:  #F9A13B;
}
.singer{
	list-style-type: none;
}
.singer li{
	height: 100px;
	width: 68px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}
.singer li span{
	display: inline-block;
	width: 68px;
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/	
    overflow: hidden;
    font-size: 12px;
    line-height: 30px;
    color: #F9A13B;
    font-weight: bolder;
}